.welcome{
    width: 100vw;
    height: 100vh;
    font-size: 60px;    
    display: flex;
    align-items: center;
    color: var(--primary-color);
    justify-content: center;
    font-size: 50px;
    position:fixed;
    /* padding:50px; */
}
video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  }
.skip{
    width:200px;
    height:70px;
    margin-right:50px;
    background-color: var(--background);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border: 1px solid var(--primary-color);
    font-family: inherit;
    font-size: large;
    font-weight: bolder;
    color:var(--primary-color);
    position:fixed;
    right:20px;
    bottom:40px;
 
  }
  .skip:hover{
    box-shadow: 10px 10px 0px #433957; 
    background-color: var(--secondary-color);
    color:var(--background);
    border:none;
  } 
  
  .welcomeText{
    z-index: 1;
    text-align: center;
    color: var(--primary-color);
    padding:40px;
  }
  .overlay{
    height:100%;
    width:100%;
    position:absolute;
    background-color: black;
    opacity:30%;
  }

