.biography{
    width:100%;
    font-size: 20px;
    display:flex;
    flex-direction: row;
    padding-left:20px;   
    flex-wrap:wrap;
    align-content: flex-start;
    
}
.profile-picture {
    width: 400px;
    height: 600px;
    overflow: hidden;
    object-fit:fill;
    border-radius: 20px;  
  }
  .profile-picture img {
    width: 100%;
    height: 100%;
  }
.text {
  display:flex;
  flex-direction: column;
  padding:none;
  margin-left:20px;
  text-align: start;
  flex: 1;  
}
.button-row button{
  width:200px;
  height:70px;
  margin-right:50px;
  background-color: orange;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border: none;
  font-family: inherit;
  font-size: large;
  font-weight: bolder;
  }