.circle-button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #D0D2FF;
    color: white;
    border: none;
    font-size: 16px;
    position:fixed;
    bottom:50px;
    right: 50px;
    box-shadow:0 2px 5px rgba(0, 0, 0, 0.3);
  }