.education-level{
    width:100%;
    height:700px;
    display:flex;
    
}
.background-photo{
    width:40%;
    height:inherit;
    background-color:blue;
}
.background-photo img{
    object-fit: cover;
    width:100%;
    height:100%;
}
.description{
    background-color: white;
    flex:1;
}
