
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('./Assets/Font/Montserrat-Regular.ttf') format('truetype');
}
body {
  margin: 0;
  font-family: 'Montserrat-Regular';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
